@mixin setThemeColors {
  --main-bg: #081c15;
  --main-bg-darker: #081c15;
  --main-bg-softer: #2d6a4f;
  --main-bg-soft: #40916c;

  --main-hover: #40916c;
  --main-hover-light: rgba(255, 255, 255, 0.4);

  --soft-bg: #49a078;
  --dark-bg: #1f2421;

  --main-color: white;
  --soft-color: #9cc5a1;
  --dark-color: #1f2421;
}

:root {
  @include setThemeColors;
}