@import "../../styles/variables.scss";

// $table-color: $main-color;
// $table-shadow-color: rgba(0, 0, 0, 0.5);
// $table-header-color: $soft-color;
// $table-bg-softer: $main-bg-softer;
// $table-soft-color: $soft-color;

.table {
  width: 100%;
  border-top: none;
  border-bottom: none;
  // background-color: $table-color;
  // box-shadow: 0px 4px 4px -2px $table-shadow-color;
  // color: black;
  margin: 5px 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tbl-wrapper {
  display: flex;
}

.filters-container {
  // background-color: $table-bg-softer;
  svg {
    margin: 5px;
    // color: white !important;
  }

  .MuiIconButton-root {
    float: right;
    &:hover {
      // color: $table-soft-color !important;
      // background: none !important;
    }
  }
}

.tbl-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  // background-color: $table-bg-softer;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;

  > * {
    width: 200px !important;
  }

  > div {
    margin: 5px 0;
  }

  .range {
    margin-top: 10px;
  }

  .text {
    // color: white;
    float: right;
    margin: 0;
  }

  .label {
    margin-top: 10px;
    text-align: left;
    // color: white;
  }
}

.tbl-header {
  // background-color: $table-bg-softer;
  // color: $table-header-color !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tbl-content {
  // height: 488px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0px;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  white-space: nowrap;
}

th.actions {
  text-align: center;
}

td.actions {
  text-align: center;

  button {
    margin-left: auto;
  }
}

tbody {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    // background-color: $table-color;
    border-radius: 4px;
  }

  tr {
    cursor: pointer;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }

  tr:nth-child(2n) {
    // background-color: $table-soft-color;
  }
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  width: 150px;

  > li {
    margin: 0;
    // background-color: white;

    &:hover {
      // background-color: lightgray;
    }

    > button {
      width: 100%;
      height: 100%;
      text-align: left;
      // background: none;
      border: none;
      padding: 5px;
      margin: 0;
      font: inherit;
      cursor: pointer;
    }
  }
}

/* CustomSelect.css */
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.custom-select select, .custom-select input {
  width: 100%;
  padding: 8px 16px;
  margin: 5px 0;
  font-size: 16px;
  text-align: center;

  border: none;
  border-radius: 4px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  // background-color: $soft-color;
  cursor: pointer;
}